<!DOCTYPE html>
<html>
<head>
    <title>Agro AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

<div class="home-container">

    <a href="/soil" class="card soil">
        <div class="icon">🌱</div>
        <h2>Soil</h2>
        <p>Classification</p>
    </a>

    <a href="/crop" class="card crop">
        <div class="icon">🍃</div>
        <h2>Crop</h2>
        <p>Disease Detection</p>
    </a>

    <a href="/weather" class="card weather">
        <div class="icon">🌦️</div>
        <h2>Smart</h2>
        <p>Farming</p>
    </a>

</div>

</body>
</html>
